
.container .triage .position {
    font-size: 1.5rem;
    position: absolute;
    top: 30px;
    right: 150px;
    transition: all 0.3s;
}

.container .triage .verImg  {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.container .triage .triage_categories {
    transition: all 0.3s;
    cursor: zoom-in;
    width: 300px;
    background-color: antiquewhite;
    position: absolute;
    right: 12px;
    overflow: hidden;
    visibility: hidden;
    /* transition: all 0.3s; */
}
.container .triage .show {
    visibility: visible;
    /* transition: all 0.3s; */
}

.container .triage .triage_categories:active {
    transform-origin: center;
    transform: scale(200%) translateX(-20%);
}
.icono-action{
    width: 2rem;
}